body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(184, 216, 175);
    background-image: url('/static/img/background_grad.png');
    background-repeat: no-repeat;
    background-size: auto;
    color:white;
}

.content {
    margin: 0 auto;
    width: 50%;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 2px;
}

#content {
    width: 80%;
}

input#search_track{
    width: 90%;
    margin-bottom: 2%;
}