{% extends 'base.html' %}

{% block head%}
<title>Spotify Queue Builder</title>
{% endblock %}

{% block body%}
<h1 style="text-align: center">Intelligent queue builder for Spotify </h1>

<div class="content">

    <div id="search_div">
        <p style="text-align: left"></p>

        <form action="/build" method="POST">
            <div class="form_div">
            <input type="text" name="track_name" id="track_name">
            <input type="submit" value="BUILD" id="submit_btn">

            </div>

            <div class="form_div">
            <label for="checkbox_autobuild">Auto add to real player</label>
            <input type="checkbox" name="checkbox_autobuild" id="checkbox_autobuild" checked>
            </div>

            <div class="form_div">
            <label for="select_mode">Mode</label>
            <select id="select_mode" name="select_mode">
                <option value="Major">Major</option>
                <option value="Minor">Minor</option>
                <option value="None">Doesn't matter</option>
              </select>
            </div>
        </form>
    </div>

    {% if tracks|length > 0 %}
    <table>
       
            <tr>
                <th style="display:none;">Id</th>
                <th class="absorbing-column">Name</th>
                <th class="absorbing-column">Artist</th>
                <th class="absorbing-column">Album</th>
                <th>Actions</th>
            </tr>
       
        
            <tr>
                {% for track in tracks %}
                <tr>
                    <td style="display:none">{{track.id}}</td>
                    <td>{{track.name}}</td>
                    <td>{{track.artist}}</td>
                    <td>{{track.album}}</td>
                    <td>
                        <a href="/play/{{track.id}}">play</a>
                        <a href="/delete/{{track.id}}">delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tr>
        
    </table>
    {% endif %}


</div>
{% endblock %}

